body {
  background: url(../public/img/background.jpg);
  background-size: cover;
}

h1 {
  color: yellow;
  -webkit-text-stroke: 2px rgb(67, 67, 255);
}

.memory-game {
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
  align-items: center;
}

.left-options {
  display: flex;
  margin-right: 20px;
  flex-direction: column;
  align-items: center;
}

button {
  margin-left: 15px;
  margin-top: 10px;
  background-color: #FFCC00;
  border: 3px solid #016AB5;
  color: #016AB5;
  border-radius: 5px;
  padding: 8px 13px;
  cursor: pointer;
}

button:hover {
  background-color: #f0c000;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  column-gap: 25px;
  row-gap: 25px;
  justify-items: center;
  align-items: center;
}

.card {
  position: relative;
}

.card img {
  width: 100%;
  display: block;
  cursor: pointer;
}

.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

/* .cards-grid img {
  width: 100%;
} */