body {
  background: url(../public/img/background.jpg);
  background-size: cover;
}

h1 {
  color: yellow;
  -webkit-text-stroke: 2px rgb(67, 67, 255);
}

.memory-game {
  display: flex;
  justify-content: space-around;
  margin-top: 3vh;
  align-items: center;
}

.left-options {
  display: flex;
  margin-right: 20px;
  align-items: center;
}

button {
  margin-left: 15px;
  margin-top: 10px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  column-gap: 25px;
  row-gap: 25px;
  justify-items: center;
  align-items: center;
}

/* .cards-grid img {
  width: 100%;
} */